@import url("https://fonts.googleapis.com/css?family=Orbitron:400,500&display=swap");
.clock {
  border: 1px solid #2f3542;
  padding: 5px; }

#digitalClock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  border: 3px double #2f3542;
  border-radius: 5px;
  margin: 0 auto 10px;
  padding: 10px;
  font-size: 26px;
  background-color: #dfe4ea; }

.dismissAlarm-no-display {
  display: none; }

.buttons {
  display: flex;
  flex-direction: column;
  margin: 0 10px; }
  .buttons button {
    height: 50px;
    border-radius: 10px;
    font-size: 18px; }
  .buttons #timeFormat {
    margin-bottom: 20px; }

button {
  outline: none;
  cursor: pointer; }

.alarmSetter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto; }

#acHour,
#acMins,
#setAlarm {
  height: 50px;
  margin: 0 2px;
  font-size: 24px; }

#setAlarm {
  border-radius: 20px;
  font-size: 18px;
  background-color: #70a1ff;
  font-weight: 500;
  color: #ffffff;
  border: none; }

select {
  border: 6px solid transparent;
  background-color: #dfe4ea; }

* {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase; }

.title {
  text-align: center; }

.main-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
